{% extends 'users/base_other.html' %}
{% load static %}
{% load i18n %}

{% block title %}Choose-Eat | Social Accounts{% endblock title %}

{% block header %}<i class="fa fa-gears"></i><br>Account Settings{% endblock header %}
{% block header_small %}<i class="fa fa-gears"></i><br>Account Settings{% endblock header_small %}
{% block subtext %}
<div class="row otherfont hide-on-large-only">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4"><a class="black-text" target="_self" href="{% url 'account_change_password' %}"><i class="fa fa-unlock-alt"></i></a></li>
      <li class="tab col s4"><a class="black-text" target="_self" href="{% url 'account_email' %}"><i class="fa fa-address-book"></i></a></li>
      <li class="tab col s4 disabled"><a class="black-text active"><i class="fa fa-users"></i></a></li>
    </ul>
  </div>
</div>

<div class="row otherfont hide-on-med-and-down">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4"><a class="black-text" target="_self" href="{% url 'account_change_password' %}"><i class="fa fa-unlock-alt left" style="margin-top:17px;margin-left:35px;margin-right:-30px;"></i>Change Password</a></li>
      <li class="tab col s4"><a class="black-text" target="_self" href="{% url 'account_email' %}"><i class="fa fa-address-book left" style="margin-top:17px;margin-left:35px;margin-right:-30px;"></i>E-mail Management</a></li>
      <li class="tab col s4 disabled"><a class="black-text active"><i class="fa fa-users left" style="margin-top:17px;margin-left:35px;margin-right:-30px;"></i>Social Accounts</a></li>
    </ul>
  </div>
</div>
{% endblock subtext %}

{% block content %}
{% if form.accounts %}
<p class="otherfont" style="font-size: 1.4em;">{% blocktrans %}You can sign in to your account using any of the following third party accounts:{% endblocktrans %}</p>


<form method="post" action="{% url 'socialaccount_connections' %}">
{% csrf_token %}

<fieldset>
{% if form.non_field_errors %}
<div id="errorMsg">{{ form.non_field_errors }}</div>
{% endif %}

{% for base_account in form.accounts %}
{% with base_account.get_provider_account as account %}
<div>
<br><br>
<input name="account" type="radio" id="id_account_{{ base_account.id }}" value="{{ base_account.id }}"/>
<label for="id_account_{{ base_account.id }}"><span class="btn social socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}";"><i class="fa fa-facebook-square"></i>{{ account }}</span></label>
</div>
{% endwith %}
{% endfor %}

<div>
<br><br>
<button class="btn red otherfont" type="submit"><i class="fa fa-remove left"></i>{% trans 'Remove' %}</button>
</div>

</fieldset>

</form>

{% else %}
<p class="otherfont center-align" style="font-size:1.5em;">{% trans 'You currently have no social network accounts connected to this account.' %}</p>
{% endif %}
<br>
<h3 class="otherfont hide-on-small-only">{% trans 'Add a 3rd Party Account' %}</h3>
<h5 class="otherfont hide-on-med-and-up">{% trans 'Add a 3rd Party Account' %}</h5>

<ul class="socialaccount_providers">
  <li><a class="waves-effect waves-light btn social facebook" href="/accounts/facebook/login/?process=connect"><i class="fa fa-facebook"></i>Facebook</a></li>
</ul>

{% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
  {% if messages %}
    {% for message in messages %}
    Materialize.toast('{{ message }}', 3000, 'rounded');
    {% endfor %}
  {% endif %}
});

$(".button-collapse").sideNav();
$('.dropdown-button').dropdown({
    inDuration: 300,
    outDuration: 225,
    constrainWidth: true, // Does not change width of dropdown to that of the activator
    hover: true, // Activate on hover
    gutter: 0, // Spacing from edge
    belowOrigin: true, // Displays dropdown below the button
    alignment: 'left', // Displays dropdown with edge aligned to the left of button
    stopPropagation: false // Stops event propagation
  }
);
</script>
{% endblock %}