{% extends 'users/base_other.html' %}
{% load static %}
{% load i18n %}

{% block title %}Choose-Eat | Settings{% endblock title %}

{% block header %}<i class="fa fa-gears"></i><br>Account Settings{% endblock header %}
{% block header_small %}<i class="fa fa-gears"></i><br>Account Settings{% endblock header_small %}

{% block subtext %}
<div class="row otherfont hide-on-large-only">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4 disabled"><a class="black-text active"><i class="fa fa-unlock-alt"></i></a></li>
      <li class="tab col s4"><a class="black-text" target="_self" href="{% url 'account_email' %}"><i class="fa fa-address-book"></i></a></li>
      <li class="tab col s4"><a class="black-text" target="_self" href="{% url 'socialaccount_connections' %}"><i class="fa fa-users"></i></a></li>
    </ul>
  </div>
</div>

<div class="row otherfont hide-on-med-and-down">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4 disabled"><a class="black-text active"><i class="fa fa-unlock-alt left" style="margin-top:17px;margin-left:35px;margin-right:-30px;"></i>Change Password</a></li>
      <li class="tab col s4"><a class="black-text" target="_self" href="{% url 'account_email' %}"><i class="fa fa-address-book left" style="margin-top:17px;margin-left:35px;margin-right:-30px;"></i>E-mail Management</a></li>
      <li class="tab col s4"><a class="black-text" target="_self" href="{% url 'socialaccount_connections' %}"><i class="fa fa-users left" style="margin-top:17px;margin-left:35px;margin-right:-30px;"></i>Social Accounts</a></li>
    </ul>
  </div>
</div>
{% endblock subtext %}

{% block content %}
<div class="row">
  <p class="otherfont" style="font-size: 1.4em;">Security matters. Changing your password every once in a while won't hurt :)</p>
  <form method="POST" action="" class="password_change">
    {% csrf_token %}
    <div class="row">
      <div class="input-field col s12 m8 l7">
      	<small class="red-text">{{ form.oldpassword.errors }}</small>
        <input type="password" name="oldpassword" id="id_oldpassword" placeholder="" autofocus required="">
        <label for="id_oldpassword" class="active">Current Password:</label>
      </div>
      <div class="input-field col s12 m8 l7">
      	<small class="red-text">{{ form.password1.errors }}</small>
        <input type="password" name="password1" id="id_password1" placeholder="" required="">
        <label for="id_password1" class="active">New Password:</label>
      </div>
      <div class="input-field col s12 m8 l7">
      	<small class="red-text">{{ form.password2.errors }}</small>
        <input type="password" name="password2" id="id_password2" placeholder="" required="">
        <label for="id_password2" class="active">New Password (again):</label>
      </div>
    </div>
    <div class="form-actions">
      <button class="btn black otherfont" type="submit" name="action" style="width:200px;">Submit</button>
    </div>
  </form>
</div>
{% endblock content %}

{% block javascript %}
<script>
$(document).ready(function(){
  {% if messages %}
    {% for message in messages %}
    Materialize.toast('{{ message }}', 3000, 'rounded');
    {% endfor %}
  {% endif %}
});

$(".button-collapse").sideNav();
$('.dropdown-button').dropdown({
    inDuration: 300,
    outDuration: 225,
    constrainWidth: true, // Does not change width of dropdown to that of the activator
    hover: true, // Activate on hover
    gutter: 0, // Spacing from edge
    belowOrigin: true, // Displays dropdown below the button
    alignment: 'left', // Displays dropdown with edge aligned to the left of button
    stopPropagation: false // Stops event propagation
  }
);
</script>
{% endblock %}
