{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock title %}</title>
	<script src="https://use.fontawesome.com/67b0e9c8df.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
	<link rel="stylesheet" href="{% static "recommender/styles.css" %}">
	<link rel='shortcut icon' href="{% static "recommender/favicon.ico" %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	<header>
	  <nav class="black">
        <div class="nav-wrapper">
          <a href="{% url 'recommender:home' %}" class="brand-logo center logofontbold">Choose-Eat</a>
        </div>
      </nav>
	</header>

	<main>
	  <div class="container">
	    <div class="row">
	    	<div class="col m3 l6">
	  		</div>
	  		<div class="col s12 m6 l6">
	  		  <h2 class="otherfont">{% block header %}{% endblock %}</h2>
	  		  <p class="bold">{% block subtext %}{% endblock %}</p>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="col m3 hide-on-large-only">
	  		</div>
	  		<div class="col l6 hide-on-med-and-down">
	  		  <div class="row" style="margin-top: -150px;margin-left: -50px;">
	  		  <img src="{% static 'recommender/side-img.png' %}">
	  		  </div>
	  		</div>
	  		<div class="col s12 m6 l6">
	  		  {% block content %}{% endblock %}
	  		</div>
	  	</div>
	   </div>
    </main>

	{% block footer %}
    <footer class="page-footer grey darken-4" id="connect">
	  <div class="container otherfont shadowed">
	    <div class="row">
	      <div class="col s12 l8" style="overflow: hidden;">
	        <h5 class="white-text"><i class="fa fa-code left"></i>Developers' Notes</h5> 
	        <p class="white-text">Restaurant data, including preview images and location, are retrieved from <a href="https://www.yelp.com/developers/documentation/v3/" class="white-text"><i class="fa fa-yelp red-text"></i> Yelp</a>. If there are missing estrablishments, please submit them <a href="https://biz.yelp.com/signup_business/new?utm_content=add_business_as_owner&utm_medium=www&utm_source=search_page&utm_campaign=add_business">here.</a> Also, please allow getting location, as this will be used to retrieve nearby restaurants, and won't be used for any other purpose.</p>
	      </div>

	      <div class="col s12 l4" style="overflow: hidden;">
	        <h5 class="white-text"><i class="fa fa-graduation-cap left"></i>Capstone Project</h5> 
	        <p class="white-text">
	          <ul>
	            <li>Sam B. Benemerito</li>
	            <li>Isaiah Ganiel L. Bontia</li>
	            <li>Rayvince Clark U. Parages</li>
	          </ul>
	        </p>
	      </div>
	    </div>
	  </div>
      <div class="footer-copyright black">
        <div class="container">
        © 2017
        </div>
      </div>
    </footer>
    {% endblock %}

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
</body>
</html>