{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title>
  <script src="https://use.fontawesome.com/67b0e9c8df.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
  <link rel="stylesheet" href="{% static "recommender/styles.css" %}">
  <link rel='shortcut icon' href="{% static "recommender/favicon.ico" %}" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  <header>
    <nav class="black">
      <div class="container">
        <div class="nav-wrapper">
          <a href="{% url 'recommender:home' %}" class="brand-logo logofontbold">Choose-Eat</a>

          <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-navicon"></i></a>

          <ul id="slide-out" class="side-nav">
            <li><div class="user-view">
              <div class="background grey darken-4">
              </div>
              <a href="#!user"><img class="circle" src="{% if user.avatar_url %}{{ user.avatar_url }}{% else %}{% static 'recommender/default_avatar.jpg' %}{% endif %}"></a>
              <a href="#!name"><span class="white-text name">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</span></a>
              <a href="#"><span></span></a>
            </div></li>
            <li><a href="{% url 'recommender:home' %}" class="waves-effect"><i class="fa fa-cutlery"></i>Get recommendations</a></li>
            <li><div class="divider"></div></li>
            <li><a href="{% url 'users:account_profile' %}" class="waves-effect"><i class="fa fa-user-circle"></i>My Profile</a></li>
            <li><a href="{% url 'account_change_password' %}" class="waves-effect"><i class="fa fa-gears"></i>Account Settings</a></li>
            <li><div class="divider"></div></li>
            <li><a href="{% url 'account_logout' %}" class="waves-effect"><i class="fa fa-sign-out"></i>Logout</a></li>
          </ul>

          <ul class="right hide-on-med-and-down">
            <div class="row dropdown-button" data-activates='userMenu'>
              <img src="{% if user.avatar_url %}{{ user.avatar_url }}{% else %}{% static  'recommender/default_avatar.jpg' %}{% endif %}" class="circle responsive-img left" alt="{{ user.get_full_name }}" style="width:35px;height:35px;margin-top:15px;margin-right:15px;">
              <li class="otherfont smtext">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</li>
            </div>

            <ul id='userMenu' class='dropdown-content' >
              <li><a href="{% url 'users:account_profile' %}" class="otherfont"><i class="fa fa-user-circle"></i>Profile</a></li>
              <li><a href="{% url 'account_change_password' %}" class="otherfont"><i class="fa fa-gears"></i>Settings</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'account_logout' %}" class="otherfont"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3 id="hdr" class="otherfont center-align hide-on-med-and-up">{% block header %}{% endblock %}</h3>
          <h2 id="hdr2" class="otherfont center-align hide-on-small-only">{% block header_small %}{% endblock %}</h2>
          <p id="subtext" class="center-align otherfont">{% block subtext %}{% endblock %}</p>
        </div>
      </div>

      <div id="myContent">{% block content %}{% endblock %}</div>
    </div>
    </main>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>