{% extends 'users/base.html' %}

{% block title %}Choose-Eat | Sign Up{% endblock title %}

{% block header %}Sign Up{% endblock header %}

{% block subtext %}Already have an account? <a href="{% url 'users:login' %}">Login</a>{% endblock subtext %}

{% block content %}
  <ul class="red-text">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    <li>{{ form.non_field_errors }}</li>
  </ul>
  <form action="{% url 'users:register' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="input-field col s12">
          <input autofocus id="id_{{ form.username.name }}" name="{{ form.username.name }}" maxlength="150" type="text" >
          <label for="id_{{ form.username.name }}">{{ form.username.label }}</label>
          <small>{{ form.username.help_text }}</small> <br/>
          <small class="red-text">{{ form.username.errors }}</small>
      </div>
  	</div>
  	<div class="row">
      <div class="input-field col s6">
          <input id="id_{{ form.first_name.name }}" name="{{ form.first_name.name }}" type="text" >
          <label for="id_{{ form.first_name.name }}">{{ form.first_name.label }}</label>
          <small>{{ form.first_name.help_text }}</small> <br/>
          <small class="red-text">{{ form.first_name.errors }}</small>
      </div>
      <div class="input-field col s6">
          <input id="id_{{ form.last_name.name }}" name="{{ form.last_name.name }}" type="text" >
          <label for="id_{{ form.last_name.name }}">{{ form.last_name.label }}</label>
          <small>{{ form.last_name.help_text }}</small> <br/>
          <small class="red-text">{{ form.last_name.errors }}</small>
      </div>
  	</div>
  	<div class="row">
      <div class="input-field col s12">
	      <input id="id_{{ form.password1.name }}" name="{{ form.password1.name }}" type="password" >
	      <label for="id_{{ form.password1.name }}">{{ form.password1.label }}</label> <br/>
	      <small class="red-text">{{ form.password1.errors }}</small>
	  </div>
  	</div>
 	<div class="row">
      <div class="input-field col s12">
          <input id="id_{{ form.password2.name }}" name="{{ form.password2.name }}" type="password" >
          <label for="id_{{ form.password2.name }}">{{ form.password2.label }}</label>
          <small>{{ form.password2.help_text }}</small> <br/>
          <small class="red-text">{{ form.password2.errors }}</small>
      </div>
  	</div>
  	<button class="btn black waves-effect waves-light" type="submit" name="action">Submit</button>
  </form>
{% endblock %}
