{% extends 'users/base_other.html' %}
{% load static %}
{% load i18n %}

{% block title %}Choose-Eat | Settings{% endblock title %}

{% block header %}<img class="circle z-depth-5 hoverable responsive-img" src="{% if user.avatar_url %}{{ user.avatar_url }}{% else %}{% static  'recommender/default_avatar.jpg' %}{% endif %}" style="width:150px;height:150px;"></i><br>{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}{% endblock header %}
{% block header_small %}<img class="circle z-depth-5 hoverable responsive-img" src="{% if user.avatar_url %}{{ user.avatar_url }}{% else %}{% static  'recommender/default_avatar.jpg' %}{% endif %}" style="width:200px;height:200px;"></i><br>{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}{% endblock header_small %}

{% block subtext %}
<h6 class="center-align otherfont">{{ user.bio }}</h6>
<br><hr>
<div class="row otherfont hide-on-large-only">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4"><a class="black-text" href="{% url 'users:account_profile' %}"><i class="fa fa-history"></i></a></li>
      <li class="tab col s4"><a class="black-text" target="_self" href="{% url 'account_email' %}"><i class="fa fa-group"></i></a></li>
      <li class="tab col s4 disabled"><a class="black-text active" target="_self"><i class="fa fa-heart"></i></a></li>
    </ul>
  </div>
</div>

<div class="row otherfont hide-on-med-and-down">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4"><a class="black-text" target="#myContent" href="{% url 'users:account_profile' %}"><i class="fa fa-history left" style="margin-top:17px;margin-left:35px;margin-right:-30px;"></i>History</a></li>
      <li class="tab col s4"><a class="black-text" target="_self" href="{% url 'account_email' %}"><i class="fa fa-group left" style="margin-top:17px;margin-left:35px;margin-right:-30px;"></i>Friends &amp; Groups</a></li>
      <li class="tab col s4 disabled"><a class="black-text active" target="_self"><i class="fa fa-heart left" style="margin-top:17px;margin-left:35px;margin-right:-30px;"></i>Food Preferences</a></li>
    </ul>
  </div>
</div>
{% endblock subtext %}

{% block content %}
<div class="row center-align otherfont">
  <a class="btn black" id="id_save" href="#" onclick="savePreferences();return false;"><i class="fa fa-save"></i> Save</a>
</div>

<div class="row" id="pref_selection">
  {% for name, code in categories.items %} 
  <div class="col s6 m3 l3">
    <div class="card">
      <div class="card-image">
        <img src="{% with 'recommender/pref-imgs/'|add:code|add:'.jpg' as image_static %}{% static image_static %}{% endwith %}">
        <p class="card-title shadowed hide-on-med-and-down">{{ name }}</p>
        <p class="white-text shadowed hide-on-large-only" style="position:absolute;bottom:30px;left:20px;">{{ name }}</p>
        <div id="id_btns_{{ code }}">
          {% for pcode, pval in preferences.items %}
            {% if code == pcode %}
              {% if pval == 0 %}
              <a class="btn-floating halfway-fab waves-effect waves-light green center" id="{{ code }}2" href="#" onclick="storePreference(this.id);return false;"><i class="fa fa-check"></i></a>
              <a class="btn-floating halfway-fab waves-effect waves-light red left" id="{{ code }}1" href="#" onclick="storePreference(this.id);return false;"><i class="fa fa-remove"></i></a>
              {% elif pval == 1 %}
              <a class="btn-floating halfway-fab waves-effect waves-light blue right" id="{{ code }}3" href="#" onclick="storePreference(this.id);return false;"><i class="fa fa-check"></i></a>
              {% elif pval == -1 %}
              <a class="btn-floating halfway-fab waves-effect waves-light blue left" id="{{ code }}3" href="#" onclick="storePreference(this.id);return false;"><i class="fa fa-remove"></i></a>
              {% endif %}
            {% else %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <form>
    {% csrf_token %}
  </form>
</div>
{% endblock content %}

{% block javascript %}
<script>
var ratings = {};

$(document).ready(function(){
  {% if messages %}
    {% for message in messages %}
    Materialize.toast('{{ message }}', 3000, 'rounded');
    {% endfor %}
  {% endif %}
});

$(".button-collapse").sideNav();
$('.dropdown-button').dropdown({
    inDuration: 300,
    outDuration: 225,
    constrainWidth: true, // Does not change width of dropdown to that of the activator
    hover: true, // Activate on hover
    gutter: 0, // Spacing from edge
    belowOrigin: true, // Displays dropdown below the button
    alignment: 'left', // Displays dropdown with edge aligned to the left of button
    stopPropagation: false // Stops event propagation
  }
);

function storePreference(buttonId) {
  var id = String(buttonId);
  var cat = id.substring(0, id.length-1);
  var val = parseInt(id.charAt(id.length-1));

  switch(val) {
    case 1:
      ratings[cat] = -1;
      document.getElementById('id_btns_' +cat).innerHTML = '<a class="btn-floating halfway-fab waves-effect waves-light blue left" id="' +cat+ '3" href="#" onclick="storePreference(this.id);return false;"><i class="fa fa-remove"></i></a>';
      break;
    case 2:
      ratings[cat] = 1;
      document.getElementById('id_btns_' +cat).innerHTML = '<a class="btn-floating halfway-fab waves-effect waves-light blue right" id="' +cat+ '3" href="#" onclick="storePreference(this.id);return false;"><i class="fa fa-check"></i></a>';
      break;
    case 3:
      ratings[cat] = 0;
      document.getElementById('id_btns_' +cat).innerHTML = '<a class="btn-floating halfway-fab waves-effect waves-light green center" id="' +cat+ '2" href="#" onclick="storePreference(this.id);return false;"><i class="fa fa-check"></i></a><a class="btn-floating halfway-fab waves-effect waves-light red left" id="' +cat+ '1" href="#" onclick="storePreference(this.id);return false;"><i class="fa fa-remove"></i></a>'
      break;
  }
}
  
function savePreferences() {
  var params = {
    uid: {{ user.id }},
    ratings: JSON.stringify(ratings),
    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val()
  };
  
  $.ajax({
    type: 'POST',
    url: '{% url 'setPrefs' %}',
    data: params,
    success: function(response) {
      Materialize.toast('Preferences updated', 3000, 'rounded');
    }
  });
}
</script>
{% endblock %}
