@font-face {
    font-family: FreeStyleScript;
    src: url(Freestyle_Script.ttf);
}

.logofontbold {
  font-family: FreeStyleScript;
  font-weight: bold;
}

.otherfont {
  font-family: 'Chewy', cursive;
}

.parallax-container {
 	height: 700px;
}

.bigtext {
 	font-size: 8em;
}

.medtext {
  font-size: 7em;
}

.smtext {
 	font-size: 1.5em;
}

.shadowed {
	text-shadow: black 0.1em 0.1em 0.2em;
}

.form-container {
  background-color: white;
  padding: 3px;
  border-radius: 25px;
}
