@font-face {
    font-family: FreeStyleScript;
    src: url(Freestyle_Script.ttf);
}

#map {
  height: 500px;
  margin: 0;
  float: left;
}

#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  height: 100%;
  float: right;
  overflow: auto;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

#floating-panel {
  position: absolute;
  top: 40%;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

.dropdown-content {
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  display: none;
  min-width: 100px;
  max-height: 650px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  z-index: 999;
  will-change: width, height;
}

.dropdown-content li {
  clear: both;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  min-height: 50px;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
  text-transform: none;
}

.dropdown-content li > a > i {
  height: inherit;
  line-height: inherit;
  float: left;
  margin: 0 15px 0 0;
  width: 15px;
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
  background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: white;
  display: block;
  line-height: 22px;
  padding: 12px 14px;
}

.logofontbold {
  font-family: FreeStyleScript;
  font-weight: bold;
}

.otherfont {
  font-family: 'Chewy', cursive;
}

.parallax-container {
 	height: 700px;
}

.bigtext {
 	font-size: 8em;
}

.medtext {
  font-size: 7em;
}

.smtext {
 	font-size: 1.5em;
}

.shadowed {
	text-shadow: black 0.1em 0.1em 0.2em;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3px;
  border-radius: 25px;
  color: white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.btn.social > :first-child,
.btn-large.social > :first-child,
.col.social > :first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn.social,
.btn-large.social,
.col.social {
  padding: 0 2rem 0 0;
}
.btn.social i,
.btn-large.social i,
.col.social i {
  padding: 0 1rem;
  margin-right: 1rem;
}
.btn.social-icon,
.btn-large.social-icon,
.col.social-icon {
  padding: 0;
}
.btn.social-icon i,
.btn-large.social-icon i,
.col.social-icon i {
  padding: 0 1rem;
  margin-right: 0;
}
.btn-large.social-icon {
  padding: 0 1rem;
}
.col.social {
  width: 100%;
  text-align: left;
}
.col.social i.fa-fw {
  width: 3.2rem;
}
.facebook {
  background-color: #3b5998;
  color: #fff !important;
}
.facebook i {
  color: #fff !important;
}
.facebook:hover {
  background-color: #4c70ba !important;
}