{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock title %}</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
	<link rel="stylesheet" href="{% static "recommender/styles.css" %}">
	<link rel='shortcut icon' href="{% static "recommender/favicon.ico" %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	<header>
	  <nav class="top-nav black">
        <div class="nav-wrapper">
          <a href="{% url 'recommender:home' %}" class="brand-logo center logofontbold">Choose-Eat</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
          </ul>
        </div>
      </nav>

      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
	</header>

	<main>	    
      <div class="container">
	    <div class="row">
	  		<div class="col s12">
	  		  <h2 class="otherfont">{% block header %}{% endblock %}</h2>
	  		</div>
	  	</div>
	  	<div class="row">
	  		{% block content %}{% endblock %}
	  	</div>
      </div>
    </main>

    <footer class="page-footer grey darken-4" id="connect">
      <div class="container">
        <div class="row">
          <div class="col s12 l4" style="overflow: hidden;">
            <h5 class="white-text">Yeah</h5> 
            <p class="white-text">Yeah</p>
          </div>

          <div class="col s12 l4" style="overflow: hidden;">
            <h5 class="white-text">Yeah2</h5> 
            <p class="white-text">Yeah2</p>
          </div>

          <div class="col s12 l4" style="overflow: hidden;">
            <h5 class="white-text">Yeah3</h5> 
            <p class="white-text">Yeah3</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright black">
        <div class="container">
        © 2017
        </div>
      </div>
    </footer>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="{% static 'recommender/scripts.js' %}"></script>
    {% block javascript %}{% endblock %}    
</body>
</html>