{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Choose-Eat | We Choose what you Eat!{% endblock title %}</title>
	<script src="https://use.fontawesome.com/67b0e9c8df.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
	<link rel="stylesheet" href="{% static "recommender/styles.css" %}">
	<link rel="stylesheet" href="{% static "recommender/nouislider.css" %}">
	<link rel='shortcut icon' href="{% static "recommender/favicon.ico" %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	<header>
	  <nav class="pinned" style="z-index:1000;background-color:rgba(0, 0, 0, 0.5);">
	    <div class="container">
	      <div class="nav-wrapper">
	        <a href="{% url 'recommender:home' %}" class="brand-logo logofontbold">Choose-Eat</a>

	        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-navicon"></i></a>

	        <ul id="slide-out" class="side-nav">
	          {% block mobile-menu %}
			  {% endblock %}
			</ul>

	        <ul class="right hide-on-med-and-down">
	          {% block menu %}
	          {% endblock %}
	        </ul>
	      </div>
	    </div>
	  </nav>
	</header>

	<main>	    
	    <div class="parallax-container" id="start">
	    	<div class="parallax white-text">
	    		<img src="{% static "recommender/topimg.jpg" %}" style="z-index: -999;">
	    		<br/><br/><br/><br/>
	    		<h1 class="center-align logofontbold white-text medtext shadowed hide-on-med-and-up">Choose-Eat</h1>
	    		<h1 class="center-align logofontbold white-text bigtext shadowed hide-on-small-only">Choose-Eat</h1>
	    		<h5 class="center-align white-text otherfont shadowed smtext">We Choose what you Eat!</h5>
	    		<br/><br/><br/>
	    	</div>
	    </div>

	    <div class="section white" id="about">
	      <div class="row container" id="panel_content">
	        <span class="white-text" id="locations"><b id="id_latitude"></b><b id="id_longitude"></b></span>
			<ul id="about-items" class="center-align">
			  <li style="opacity:0;"><h2 class="header otherfont">About</h2></li>
			  <li style="opacity:0;"><p style="max-width: 1000px; word-wrap: break-word;">
			    <h5 class="otherfont">Choose-Eat provides restaurant recommendations that you will surely love!</h5>
			  <li style="opacity:0;margin-top: 65px;">
			  <div class="row">
			    <div class="col s12 m4 l4">
			      <i class="fa fa-heart fa-5x"></i><br>
			      <h4 class="otherfont">Preference-based</h4>
			      <p class="grey-text darken-4">Our recommendations take not only price levels and distance into consideration, but also a wide variety of food categories that you like and dislike so we can ensure that you'd be satisfied with the results.</p>
			    </div>
			   <div class="col s12 m4 l4">
			      <i class="fa fa-group fa-5x"></i><br>
			      <h4 class="otherfont">Social</h4>
			      <p class="grey-text darken-4">Who doesn't love going out with friends? Well we all know how these times can be <i>plagued</i> with the question, "Where are we eating?". Fret not! Our recommendations are not limited to just individuals, but available for groups too!</p>
			    </div>
			    <div class="col s12 m4 l4">
			      <i class="fa fa-map-marker fa-5x"></i><br>
			      <h4 class="otherfont">Location-based</h4>
			      <p class="grey-text darken-4">Results are based on your location and your specified distance limitation. The app is also helpful when traveling to other places because we provide directions to the establishments we recommend.</p>
			    </div>
			  </div>
			  </li>
			  <li style="opacity:0;margin-bottom: -50px;"><h5 class="otherfont">You can read more about Choose-Eat <a href="#">here</a>!</h5></li>
			</ul>
	        {% block content %}
	        {% endblock %}
	      </div>
	    </div>

		{% block headercard %}
    	{% endblock %}
	 
	    <div class="parallax-container" id="stats">
	    	<div class="parallax white-text">
	    		<img src="{% static "recommender/lowimg.jpg" %}" style="z-index: -999;">
	    		<br/><br/><br/><br/><br/>
	    		<ul id="stats-items">	    		
	    		<li style="opacity:0;"><h5 class="center-align otherfont white-text shadowed" style="font-size: 4.2em;">Get the app:</h5></li>
	    		<br/><br/>
	    		</ul>
	    	</div>
	    </div>
    </main>

    <footer class="page-footer grey darken-4" id="connect">
      <div class="container otherfont shadowed">
        <div class="row">
          <div class="col s12 l8" style="overflow: hidden;">
            <h5 class="white-text"><i class="fa fa-code left"></i>Developers' Notes</h5> 
            <p class="white-text">Restaurant data, including preview images and location, are retrieved from <a href="https://www.yelp.com/developers/documentation/v3/" class="white-text"><i class="fa fa-yelp red-text"></i> Yelp</a>. If there are missing estrablishments, please submit them <a href="https://biz.yelp.com/signup_business/new?utm_content=add_business_as_owner&utm_medium=www&utm_source=search_page&utm_campaign=add_business">here.</a> Also, please allow getting location, as this will be used to retrieve nearby restaurants, and won't be used for any other purpose.</p>
          </div>

          <div class="col s12 l4" style="overflow: hidden;">
            <h5 class="white-text"><i class="fa fa-graduation-cap left"></i>Capstone Project</h5> 
            <p class="white-text">
              <ul>
                <li>Sam B. Benemerito</li>
                <li>Isaiah Ganiel L. Bontia</li>
                <li>Rayvince Clark U. Parages</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="footer-copyright black">
        <div class="container">
        © 2017
        </div>
      </div>
    </footer>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="{% static 'recommender/scripts.js' %}"></script>
    {% block javascript %}{% endblock %}    
</body>
</html>