{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Choose-Eat | We Choose what you Eat!{% endblock title %}</title>
	<script src="https://use.fontawesome.com/67b0e9c8df.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
	<link rel="stylesheet" href="{% static "recommender/styles.css" %}">
	<link rel="stylesheet" href="{% static "recommender/nouislider.css" %}">
	<link rel='shortcut icon' href="{% static "recommender/favicon.ico" %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
	<header>
	  <nav class="pinned" style="z-index:1000;background-color:rgba(0, 0, 0, 0.5);">
	    <div class="container">
	      <div class="nav-wrapper">
	        <a href="{% url 'recommender:home' %}" class="brand-logo logofontbold">Choose-Eat</a>

	        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-navicon"></i></a>

	        <ul id="slide-out" class="side-nav">
	          {% block mobile-menu %}
			  {% endblock %}
			</ul>

	        <ul class="right hide-on-med-and-down">
	          {% block menu %}
	          {% endblock %}
	        </ul>
	      </div>
	    </div>
	  </nav>
	</header>

	<main>	    
	    <div class="parallax-container" id="start">
	    	<div class="parallax white-text">
	    		<img src="{% static "recommender/topimg.jpg" %}" style="z-index: -999;">
	    		<br/><br/><br/><br/>
	    		<h1 class="center-align logofontbold white-text medtext shadowed hide-on-med-and-up">Choose-Eat</h1>
	    		<h1 class="center-align logofontbold white-text bigtext shadowed hide-on-small-only">Choose-Eat</h1>
	    		<h5 class="center-align white-text otherfont shadowed smtext">We Choose what you Eat!</h5>
	    		<br/><br/><br/>
	    	</div>
	    </div>

	    <div class="section white" id="about">
	      <div class="row container" id="panel_content">
	        {% block content %}
	        {% endblock %}
	      </div>
	    </div>

		{% block headercard %}
    	{% endblock %}
	 
	    <div class="parallax-container" id="stats">
	    	<div class="parallax white-text">
	    		<img src="{% static "recommender/lowimg.jpg" %}" style="z-index: -999;">
	    		<br/><br/><br/><br/><br/>
	    		<ul id="stats-items">	    		
	    		<li style="opacity:0;"><h5 class="center-align otherfont white-text shadowed" style="font-size: 4.2em;">Get the app:</h5></li>
	    		<br/><br/>
	    		</ul>
	    	</div>
	    </div>
    </main>

    <footer class="page-footer grey darken-4" id="connect">
      <div class="container">
        <div class="row">
          <div class="col s12 l4" style="overflow: hidden;">
            <h5 class="white-text">Yeah</h5> 
            <p class="white-text">Yeah</p>
          </div>

          <div class="col s12 l4" style="overflow: hidden;">
            <h5 class="white-text">Yeah2</h5> 
            <p class="white-text">Yeah2</p>
          </div>

          <div class="col s12 l4" style="overflow: hidden;">
            <h5 class="white-text">Yeah3</h5> 
            <p class="white-text">Yeah3</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright black">
        <div class="container">
        © 2017
        </div>
      </div>
    </footer>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="{% static 'recommender/scripts.js' %}"></script>
    {% block javascript %}{% endblock %}    
</body>
</html>