{% extends 'recommender/base.html' %}

{% block mobile-menu %}
<div class="row grey darken-4 white-text center-align">
  <br />
  <h5 class="otherfont"><b>Welcome!</b></h5>
  <br />
</div>
<div class="row grey lighten-3">
  <li><a href="{% url 'account_login' %}">Login</a></li>
  <li><a href="{% url 'account_signup' %}">Register</a></li>
</div>
{% endblock mobile-menu %}

{% block menu %}
<li><a href="{% url 'account_login' %}" class="otherfont smtext">Login</a></li>
<li><a href="{% url 'account_signup' %}" class="otherfont smtext">Sign-up</a></li>
{% endblock menu %}

{% block content %}
<div class="row" id="header_text">
  <div class="col s12">
    <h3 id="hdr" class="otherfont center-align hide-on-med-and-up">Trial Recommendation</h3>
    <h2 id="hdr2" class="otherfont center-align hide-on-small-only">Trial Recommendation</h2>
    <p id="subtext" class="center-align otherfont">Get better recommendations when you sign up!</p>
  </div>
</div>

<div class="row" id="loading">
  <div class="col s12 center">
    <br /><br />
    <div class="preloader-wrapper big active">
      <div class="spinner-layer center-align">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <h5 class="otherfont" id="loadingtxt">Fetching results...</h4>
  </div>
</div>

<div class="row" id="results">
  <div class="col s12 center">
    <a id="resto-link" href=""><img id="resto-img" class="z-depth-4 hide-on-small-only" style="border: 3px solid black; height:250px;width:350px; border-radius: 35%;" src=""/>
    <img id="resto-img2" class="z-depth-4 hide-on-med-and-up" style="border: 3px solid black; height:200px;width:250px; border-radius: 35%;" src=""/></a>
    <h4 id="resto-name" class="otherfont"></h3>
    <p id="resto-address"></p>
    <span class="center-align"><small id="resto-distance"></small> | <small id="resto-categories"></small></span><br /><br />
    <a class="btn-floating btn-large waves-effect waves-light red" href="javascript:nextResto();"><i class='fa fa-remove'></i></a>
    <a class="btn-floating btn-large waves-effect waves-light blue" href="javascript:previousResto();"><i class='fa fa-rotate-left'></i></a>
    <a class="btn-floating btn-large waves-effect waves-light green" href="javascript:acceptResto();"><i class='fa fa-check'></i></a>
  </div>
</div>

<div class="row" id="no-results">
  <div class="col s12 center">
    <br/>
    <h4><i class="fa fa-frown-o fa-2x"></i></h4>
    <h4 class="otherfont">No results found for "<span id="usedterm"></span>".</h4>
    <div class="container">
      <small>
        <ul>
          <li>- Try using another keyword -</li>
          <li>- Else, you may be in a place where there are no restaurants around -</li>
        </ul>
      </small>
    </div>
    <br/>
    <a class="waves-effect waves-light btn-large black otherfont" href="javascript:retryRec();"><i class="fa fa-thumbs-up left"></i>Try Again</a>
  </div>
</div>

<div id="accepted">
  <div class="row">
    <div id="map" class="col s12 m6 l6" style="height:500px;"></div>
    <div id="right-panel" class="col s12 m6 l6" style="height:500px;"></div>
  </div>
  <div class="row center-align">
    <a class="waves-effect waves-light btn-large green otherfont" href="javascript:retryRec();"><i class="fa fa-thumbs-up left"></i>I'm here</a>
  </div>
</div>
{% endblock content %}

{% block headercard %}
<div class="row hide-on-med-and-up" style="position:relative;top:-100rem;" id="card_form2">
  <div class="col s12">
    <div class="form-container otherfont">
      <form id="trial_rec2">
        {% csrf_token %}
        <div class="row" style="z-index: 999;margin-left:60px;left:5px;margin-bottom:0;">                            
          <div class="input-field">
            <input type="text" class="col s9" id="id_term2" name="term" placeholder="What are you looking to eat?" maxlength="200" autocomplete=off required />
          </div>            
        </div>
        
        <div class="center-align">
          <input class="btn black waves-effect waves-light tooltipped" type="submit" name="action" value="Submit" data-position="bottom" data-tooltip="Get better recommendations when you sign-up!"/> 
        </div>
        <br/>
     </form>
    </div>
  </div>
</div>  

<div class="row hide-on-small-only hide-on-large-only" style="position:relative;top:-66rem;" id="card_form3">
  <div class="col m12">
    <div class="form-container">
      <form id="trial_rec3" style="z-index: 999;margin-left:60px;left:5px">
        {% csrf_token %}
        <div class="row">                            
          <div class="input-field otherfont">
            <input type="text" class="col m9 l8" id="id_term" name="term" placeholder="What are you looking to eat?" maxlength="200" autocomplete=off required />
            <input class="btn black waves-effect waves-light tooltipped" type="submit" name="action" value="Submit" data-position="bottom" data-tooltip="Get better recommendations when you sign-up!" style="left:30px;top:10px;"/> 
          </div>            
        </div>
     </form>
    </div>
  </div>
</div>  

<div class="row hide-on-med-and-down otherfont" style="position:relative;top:-58.5rem;" id="card_form">
  <div class="col l3"></div>
  <div class="col s12 l6">
    <div class="form-container">
      <form id="trial_rec" style="z-index: 999;margin-left:60px;left:5px">
        {% csrf_token %}
        <div class="row">		                         
          <div class="input-field">
            <input type="text" class="col m9 l8" id="id_term3" name="term" placeholder="What are you looking to eat?" maxlength="200" autocomplete=off required />
            <input class="btn black waves-effect waves-light tooltipped" type="submit" name="action" value="Submit" data-position="bottom" data-tooltip="Get better recommendations when you sign-up!" style="left:30px;top:10px;"/> 
          </div>            
        </div>
     </form>
    </div>
  </div>
</div>  
{% endblock %}

{% block javascript %}
<script>
var index = 0;
var restoList = {};
var actualIndex = 0;
var resultList, lat, lng;
var subtext = document.getElementById('subtext'); 

$(document).ready(function() {
  getLocation();
  $('#locations').hide();
  $('#header_text').hide();
  $('#loading').hide();
  $('#results').hide();
  $('#no-results').hide();
  $('#accepted').hide();

  {% if messages %}
    {% for message in messages %}
    Materialize.toast('{{ message }}', 3000, 'rounded');
    {% endfor %}
  {% endif %}
});

$('#trial_rec').on('submit', function(e) {
  e.preventDefault();
  showTrialRec(e);
});
$('#trial_rec2').on('submit', function(e) {
  e.preventDefault();
  showTrialRec(e);
});
$('#trial_rec3').on('submit', function(e) {
  e.preventDefault();
  showTrialRec(e);
});

function showTrialRec(event) {
  lat = document.getElementById('id_latitude').innerHTML;
  lng = document.getElementById('id_longitude').innerHTML;

  $('#about-items').hide();
  $('#card_form').hide();
  $('#card_form2').hide();
  $('#header_text').show();
  
  var params = {
    latitude: lat,
    longitude: lng
  };
  if (event.target.id == 'trial_rec') {
    params.term = $('#id_term3').val();
  } else if (event.target.id == 'trial_rec2') {
    params.term = $('#id_term2').val();
  } else {
    params.term = $('#id_term').val();
  }
  
  document.getElementById('id_term').value=null;
  document.getElementById('id_term2').value=null;
  document.getElementById('id_term3').value=null;

  $('html, body').animate({
      scrollTop: $("#about").offset().top-75
  }, 1000);

  $.ajax({
    type: 'GET',
    url: '{% url 'trialRec' %}',
    data: params,
    beforeSend: function() {
      $('#loading').show();
      var x = document.getElementById('loadingtxt'), 
      messages = ['Anytime now...', 'This is taking longer than expected...'],
      i = 0;
      setInterval(function () {
        x.innerHTML = messages[i++];
        i = messages.length === i ? 0 : i;
      }, 5000);
    },
    complete: function(response) {
      $('#loading').hide();
    },
    success: function(response) {
      restoList = response;
      console.log(restoList);
      if (restoList.likes.length == 0 && restoList.others.length == 0) {
        document.getElementById('usedterm').innerHTML = params.term;
        $('#no-results').show();
      } else {
        nextResto();
        $('#results').show();
      }
    }
  });
}

function getLocation() {
  var options = {
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0
  };

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      document.getElementById("id_latitude").innerHTML = '' +position.coords.latitude;
      document.getElementById("id_longitude").innerHTML = '' +position.coords.longitude;
    }, function() {
      alert("If you are seeing this message, then you may have blocked getting location or the app might have failed to get your accurate location.");
    }, options);
  } else { 
    alert("Geolocation is not supported by this browser :( Try using a different browser or get the mobile app!");
  }
}

function nextResto() {
  if (index < restoList.likes.length) {
    actualIndex = index;
    resultList = restoList.likes;
    subtext.innerHTML = "You'll surely love these!"
  } else if (index-restoList.likes.length < restoList.others.length) {
    actualIndex = index-restoList.likes.length;
    resultList = restoList.others;
    subtext.innerHTML = "Try these ones out!"
  } else {
    index = 0;
    actualIndex = 0;
    if (restoList.likes.length > 0) {
      resultList = restoList.likes;
    } else if (restoList.semilikes.length > 0) {
      resultList = restoList.semilikes;
    } else if (restoList.others.length > 0) {
      resultList = restoList.others;
    } else {
      restulList = restoList.dislikes;
    }
    subtext.innerHTML = "That was all of them!"
  }

  var categories = [];
  for (var i = 0; i < resultList[actualIndex].categories.length; i++) {
    categories.push(resultList[actualIndex].categories[i].title);
  }
  var address = resultList[actualIndex].location.address2 === '' || resultList[actualIndex].location.address2 === null ? resultList[actualIndex].location.address1 : resultList[actualIndex].location.address1+', '+resultList[actualIndex].location.address2;

  document.getElementById('resto-link').href = resultList[actualIndex].url;
  document.getElementById('resto-img').src = resultList[actualIndex].image_url;
  document.getElementById('resto-img2').src = resultList[actualIndex].image_url;
  document.getElementById('resto-name').innerHTML = resultList[actualIndex].name;
  document.getElementById('resto-address').innerHTML = address;
  document.getElementById('resto-distance').innerHTML = 'Approx. '+(resultList[actualIndex].distance/1000).toFixed(1)+' km away';
  document.getElementById('resto-categories').innerHTML = categories.join(', ');

  index++;
}

function previousResto() {
  if (index === 1) {
    Materialize.toast('We are just getting started!', 3000, 'rounded');
  } else {
    index = index-2 < 0 ? 0 : index-2;
    nextResto();
  }
}

function acceptResto() {
  document.getElementById('hdr').innerHTML = resultList[actualIndex].name;
  document.getElementById('hdr2').innerHTML = resultList[actualIndex].name;
  document.getElementById('subtext').innerHTML = "Mode of Travel:<br/><div class='col m4 l4'></div><select id='mode' class='browser-default col s12 m4 l4'><option value='DRIVING'>Driving</option><option value='WALKING'>Walking</option><option value='TRANSIT'>Transit</option></select>";
  initMap();
  $('#results').hide();
  $('#accepted').show();
}

function initMap() {
  var directionsDisplay = new google.maps.DirectionsRenderer;
  var directionsService = new google.maps.DirectionsService;
  lat = parseFloat(lat);
  lng = parseFloat(lng);
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: {lat: lat, lng: lng}
  });
  directionsDisplay.setMap(map);
  directionsDisplay.setPanel(document.getElementById('right-panel'));

  calculateAndDisplayRoute(directionsService, directionsDisplay);
  document.getElementById('mode').addEventListener('change', function() {
    calculateAndDisplayRoute(directionsService, directionsDisplay);
  });
}

function calculateAndDisplayRoute(directionsService, directionsDisplay) {
  var selectedMode = document.getElementById('mode').value;
  var dest;
  if (resultList[actualIndex].coordinates.latitude === null || resultList[actualIndex].coordinates.longitude === null) {
    dest = resultList[actualIndex].location.display_address.join(', ');
  } else {
    dest = {
      lat: resultList[actualIndex].coordinates.latitude,
      lng: resultList[actualIndex].coordinates.longitude
    };
  }
  
  directionsService.route({
    origin: {lat: lat, lng: lng}, 
    destination: dest,  
    travelMode: google.maps.TravelMode[selectedMode]
  }, function(response, status) {
    if (status == 'OK') {
      directionsDisplay.setDirections(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}

function retryRec() {
  $('html, body').animate({
      scrollTop: $("#start").offset().top
  }, 1000);
  $('#no-results').hide();
  $('#accepted').hide();
  $('#header_text').hide();
  $('#about-items').show();
  $('#card_form').show();
  $('#card_form2').show();
  $('#card_form3').show();
  document.getElementById('right-panel').innerHTML = '';
  index = 0;
  Materialize.toast('Sign up to get better recommendations and access more features!', 8000, 'rounded');
}

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ googlekey }}">
    </script>
</script>
{% endblock javascript %}