{% extends 'recommender/base_rec.html' %}

{% block title %}Choose-Eat | Solo{% endblock title %}

{% block header %}Solo Recommendation{% endblock header %}
{% block header_small %}Solo Recommendation{% endblock header_small %}

{% block content %}
<div class="row" id="pre-recommendation">
  <div class="container">
    <div class="col s12 m5 l5 center-align">
      <form id="keyword_rec">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
              <input id="id_term" name="term" maxlength="24" type="text" placeholder="What are you looking to eat?" required>
              <small>Want to eat something specific? Could be some good 'chicken', or a delicious bowl of 'ramen' perhaps?</small> <br/>
          </div>
        </div>
        <button class="btn black waves-effect waves-light otherfont" type="submit" name="action">Submit</button>
      </form>
    </div>
    <div class="col s12 m2 l2">
      <h3 class="otherfont center-align">OR</h3>
    </div>
    <div class="col s12 m5 l5 center-align">
      <a class="waves-effect waves-light btn-large black otherfont pulse" href="{% url 'recommender:solo' %}" style="margin-top: 6px;"><i class="material-icons left">restaurant_menu</i>Dazzle Me!</a>
      <br /><br />
      <small>Not really looking for anything specific, but just want awesome food that'll match your taste? Leave it to us!</small> <br/>
    </div>
    <p class="white-text" id="id_latitude"></pre>
    <p class="white-text" id="id_longitude"></pre>
  </div>
</div>

<div class="row" id="loading">
  <div class="col s12 center">
    <br /><br />
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only center-align">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <h5 class="otherfont" id="loadingtxt">Fetching results...</h4>
  </div>
</div>

<div class="row" id="results">
  <div class="col s12 center">
    <a id="resto-link" href=""><img id="resto-img" class="z-depth-4" style="border: 3px solid black; height:250px;width:350px; border-radius: 35%;" src=""/></a>
    <h4 id="resto-name" class="otherfont"></h3>
    <p id="resto-address"></p>
    <span class="center-align"><small id="resto-distance"></small> | <small id="resto-categories"></small></span><br /><br />
    <a class="btn-floating btn-large waves-effect waves-light red" href="javascript:nextResto();"><i class="material-icons">not_interested</i></a>
    <a class="btn-floating btn-large waves-effect waves-light blue" href="javascript:previousResto();"><i class="material-icons">replay</i></a>
    <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">check</i></a>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
var index = 0;
var restoList = {};
var subtext = document.getElementById('subtext'); 

$(document).ready(function(){
    getLocation();
    $('#loading').hide();
    $('#results').hide();
});

$('#keyword_rec').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!");

    $.ajax({
      type: 'GET',
      url: '{% url 'soloRec' %}',
      data: {
        latitude: document.getElementById('id_latitude').innerHTML,
        longitude: document.getElementById('id_longitude').innerHTML,
        uid: {{ user.id }},
        term: $('#id_term').val()
      },
      beforeSend: function() {
        $('#pre-recommendation').hide();
        $('#loading').show();
        var x = document.getElementById('loadingtxt'), 
        messages = ['Anytime now...', 'This is taking longer than expected...'],
        i = 0;
        setInterval(function () {
          x.innerHTML = messages[i++];
          i = messages.length === i ? 0 : i;
        }, 5000);
      },
      complete: function(response) {
        $('#loading').hide();
      },
      success: function(response) {
        console.log(response);
        restoList = response;
        console.log(restoList);
        nextResto();
        $('#results').show();
      }
    })
});
$(".button-collapse").sideNav();
$('.dropdown-button').dropdown({
    inDuration: 300,
    outDuration: 225,
    constrainWidth: true, // Does not change width of dropdown to that of the activator
    hover: true, // Activate on hover
    gutter: 0, // Spacing from edge
    belowOrigin: true, // Displays dropdown below the button
    alignment: 'left', // Displays dropdown with edge aligned to the left of button
    stopPropagation: false // Stops event propagation
  }
);

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      document.getElementById("id_latitude").innerHTML = '' +position.coords.latitude;
      document.getElementById("id_longitude").innerHTML = '' +position.coords.longitude;
    });
  } else { 
    alert("Geolocation is not supported by this browser :( Try using a different browser or get the mobile app!");
  }
}

function nextResto() {
  var actualIndex = 0;
  var resultList;

  if (index < restoList.likes.length) {
    actualIndex = index;
    resultList = restoList.likes;
    subtext.innerHTML = "You'll surely love these!"
  } else if (index-restoList.likes.length < restoList.semilikes.length) {
    actualIndex = index-restoList.likes.length;
    resultList = restoList.semilikes;
    subtext.innerHTML = "You'll probably like these too!"
  } else if (index-restoList.likes.length-restoList.semilikes.length < restoList.others.length) {
    actualIndex = index-restoList.likes.length-restoList.semilikes.length;
    resultList = restoList.others;
    subtext.innerHTML = "Try these ones out!"
  } else if (index-restoList.likes.length-restoList.semilikes.length-restoList.others.length < restoList.dislikes.length) {
    actualIndex = index-restoList.likes.length-restoList.semilikes.length-restoList.others.length;
    resultList = restoList.dislikes;
    subtext.innerHTML = "Not too sure about these ones..."
  } else {
    index = 0;
    actualIndex = 0;
    resultList = restoList.likes;
    subtext.innerHTML = "That was all of them! Back to start!"
  }

  console.log('index: ' +index+ ' | actual: ' +actualIndex+ ' | over: ' +resultList.length+ ' | current: ' +resultList[actualIndex].name);
  var categories = [];
  for (var i = 0; i < resultList[actualIndex].categories.length; i++) {
    categories.push(resultList[actualIndex].categories[i].title);
  }
  var address = resultList[actualIndex].location.address2 === '' || resultList[actualIndex].location.address2 === null ? resultList[actualIndex].location.address1 : resultList[actualIndex].location.address1+', '+resultList[actualIndex].location.address2;

  document.getElementById('resto-link').href = resultList[actualIndex].url;
  document.getElementById('resto-img').src = resultList[actualIndex].image_url;
  document.getElementById('resto-name').innerHTML = resultList[actualIndex].name;
  document.getElementById('resto-address').innerHTML = address;
  document.getElementById('resto-distance').innerHTML = 'Approx. '+(resultList[actualIndex].distance/1000).toFixed(1)+' km away';
  document.getElementById('resto-categories').innerHTML = categories.join(', ');

  index++;
}

function previousResto() {
  if (index > 0) {
    index = index-2 < 0 ? 0 : index-2;
    nextResto();
  } else {
    Materialize.toast('We are just getting started!', 3000, 'rounded');
  }
}
</script>
{% endblock %}

